#mainMenu {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  max-width: 65vh;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  box-sizing: border-box;
  padding-top: 55vh;
  padding-bottom: 5vh;
}

.webp #mainMenu {
  background-image: url(../assets/main_menu_bg.webp);
}

.no-webp #mainMenu {
  background-image: url(../assets/main_menu_bg.png);
}

.button {
  color: black;
  text-align: center;
}

.button {
  font-family: unset;
  font-size: 1.5em;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.25em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  transition: all 0.3s ease-out;
  border: 1px solid;
  width: 17.5ex;
}

.button:hover:not(.disabled) {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.button.disabled {
  cursor: not-allowed;
  color: grey;
}
